/* Master Styles */

:root {
    --font-color-1: #8a8a8a;
    --hover-color: black;
  }
  
body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.left-side {
    display: flex;
}

/* Nav Styles */
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: var(--font-color-1);
    text-decoration: none;
    transition: color .5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid var(--hover-color);
}

.nav-link-wrapper a:hover {
    color: var(--hover-color);
}

/* Grid Styles */
